<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
  <a href="/motos/" class="navbar-wagon-item navbar-wagon-link">All motos</a>
    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%#= link_to "Host", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>
 <div class="navbar-wagon-item navbar-wagon-link">
        <div class="dropdown display-flex">

          <span class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></span>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%#= link_to developer_dashboard_path do %>
                <!-- <i class="fa fa-user"></i> <%= t(".profile", default: " Dashboard") %> -->
              <%# end %>
            </li>
            <li>
              <%#= link_to edit_developer_path(current_developer) do %>
                <!-- <i class="fa fa-cog"></i><%= t(".profile", default: " Edit profile") %> -->
              <%# end %>
            </li>
            <li>
              <%#= link_to destroy_developer_session_path, method: :delete do %>
                <!-- <i class="fas fa-sign-in-alt"></i></i>  --> <%#= t(".sign_out", default: " Log out") %>
              <%# end %>
            </li>
          </ul>
        </div>
      </div>



    <% else %>
      <!-- Login link (when logged out) -->
      <%#= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%# end %>


      <%#= link_to t(".sign_in", default: "Developer login"), new_developer_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <a class="navbar-wagon-item navbar-wagon-link" href="/developers/auth/github">Sign in with GitHub <i class="fab fa-github login-icon"></i></a>
      <%= link_to t(".sign_in", default: "Charity login"), new_charity_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

